
html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1em;
}

body {  
  padding-left: 10%;
  padding-right: 10%;
}


h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}
